:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;  
}

.container {
  width: 100%;
  height: auto;
  margin: 1em auto;
}


.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  margin: 0  3em;
  padding-top: .8em;
  position: relative;
}

.logo img {
  width: 40px;
  position: absolute;
  top:-.2em;
  left: .2em;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  list-style: none;
  color: #fff;
  margin: 0 2em;
}

.navlinks li {
 margin: 0;
 padding: 0;
}

.navlinks li .link {
  margin: .5em 1em;
  text-decoration:  none;
  color: #fff;
}

.rocketlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rocket {
  display: flex;
  width: 93%;
  height: 250px;
  box-shadow: 0px 1px 1px 2px #1c1c1c;
  margin: 1em;
  padding: 1em;
} 

.rocket-img {
  width: 250px;
  height: 100%;
  box-shadow: 0px 1px 2px 2px #ccc;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  padding: .5em 1em;
  position: relative;  
}

.rocket-info h4 {
   margin: 1em 0;
   color: #fff;
}

.rocket-info span {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: .5em;
  text-align: center;
}


button {
  cursor: pointer;
}

.active {
  width: 200px;
  display: block;
  padding: .4em .7em;
  margin: 1em;
  align-self: center;
}

.activebtn {
  width: 200px;
  display: block;
  padding: .4em .7em;
  margin: 1em;
  align-self: center;
  background: #1C94B3;
}

.mission-list {
  width: 100%;
  align-self: center;
  color: #fff;
  text-align: center;
  margin-top: 1.5em;
}

.missionlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-Card {
  width: auto;
  height: auto;
  margin: .5em 1em;
  color: #fff;
  cursor: pointer;
}

.mission-list th, tr, td {
  padding: .3em .5em;
  border-bottom: 1px solid #fff;
}

.mission-list th {
  background: #fff;
  color: #000;
  font-weight: 700;
  font-size: 1.5em;
}

.desc {
  padding: .5em .7em;
  text-align: left;
  font-size: .9em;
}


.non-member-badge,
.member-badge,
.leave-mission-btn,
.join-mission-btn {
  width: 100px;
  height: 20px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 12px;
  border: none;
}

.non-member-badge,
.member-badge {
  color: #1c1c1c;
  font-weight: 700;
}

.non-member-badge {
  background-color: #fff;
}

.member-badge {
  background-color: #1c94b3;
  color: #fff;
}

.leave-mission-btn,
.join-mission-btn {
  height: 32px;
  background: none;
}

.join-mission-btn {
  border: 1px solid #00D7C6
}

.leave-mission-btn {
  border: 1px solid rgb(255, 70, 70);
  color: rgb(255, 70, 70);
}

.emptybookings-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  color: #fff;
  align-self: center;
}

.leave-rocket-btn {
  width: 200px;
  display: block;
  padding: .4em .7em;
  border: 1px solid #ff0000;
  margin: 1em;
  align-self: center;
  color: rgb(255, 70, 70);
  background: none;
}


.bookings {
  height: 600px;
  display: grid;
  grid-template-areas: "rockets missions";
  margin: 0 2.5%;
  gap: 20px;
}

.bookings div h1 {
  margin: 0.5em 0;
  font-size: 17px;
  color: #fff;
}

.rocket-bookings {
  grid-area: rockets;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.bookings-list {
  list-style: none;
  border: #fff solid 1px;
}

.rocket-bookings, .mission-bookings li {
  list-style: none;

}

.mission-bookings {
  grid-area: missions;
  display: flex;
  flex-direction: column;
}

.item {
  border-bottom: #fff solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  font-size: 14px;
  font-weight: 500;
}


@media (max-width: 500px) {
  .rocket {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .rocket-info {
    align-items: center;
  }

  .rocket-info p {
    text-align: justify;
    margin-bottom: 1em;
  }

  .rocket-info span {
    order: -1;
  }
}
